<ion-header >
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header class="ion-text-center">
      <img src="../../assets/img/profile.png" alt="" srcset="" class = "avatar">
      <br>
      <ion-card-subtitle><strong>Username: </strong> bountyhunter123</ion-card-subtitle>
      <ion-card-title></ion-card-title>
      <ion-button color="danger" size="small">Trust Rate: <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-half"></ion-icon></ion-button>
    </ion-card-header>

    <ion-card-content>
     
      <ion-grid>
        <ion-row >
          <ion-col >
            <p>Total Money Earned</p>
            <h1>₱2,000,000</h1>
          </ion-col>
          <ion-col >
            <p>Success Reports</p>
            <h1>10</h1>
          </ion-col>
        </ion-row>
      </ion-grid>


    </ion-card-content>
  </ion-card>
  <div class = "ion-text-center">
  <h4>List of Successful Reports</h4>
</div>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/jan.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Jan Brett</h2>
      <p>Reward: ₱20,000</p>
    </ion-label>
    <ion-note slot="end" color ="success">Captured</ion-note>
  </ion-item>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../assets/img/caballo.jpg">
    </ion-avatar>
    <ion-label>
      <h2>Nicholson Caballo</h2>
      <p>Reward: ₱200,000</p>
    </ion-label>
    <ion-note slot="end" color ="success">Captured</ion-note>
  </ion-item>
  <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/dread.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Dreadlock</h2>
        <p>Reward: ₱1,000,000</p>
      </ion-label>
      <ion-note slot="end" color ="success">Captured</ion-note>
    </ion-item>
</ion-content>
